<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LaVassar Catalogue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="index.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>LaVassar Florists Catalogue</h1>
            <input type="search" name="search" id="search" placeholder="Search by product name" class="hidden">
        </header>
